<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">

        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('blog_home') }}">myBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_list') }}">Articles <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_add') }}">Créer un article</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container my-5">
            {% block body %}{% endblock %}
        </div>

        <footer class="fixed-bottom text-center text-light border-top py-3 bg-dark">
            myBlog | MaxSiriusSquad - 2019
        </footer>


        {% block javascripts %}{% endblock %}
    </body>
</html>
